//Global style
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

//Header part
.header {
  position: relative;
  padding: {
    bottom: 50px;
  };

  &__title {
    text-align: center;
    color: white;
    margin: {
      top: 45px;
    };

    &-wrap {
      display: none;
    }
  }

  &__description {
    text-align: center;
    color: white;
  }
}

.top-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  &__logo {
    width: 200px;
    display: block;
    margin: {
      top: 24px;
    };
  }

  &__inner {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: .5s;
    margin: {
      top: -320px;
    };

    &--close {
      visibility: visible;
      opacity: 1;
      margin: {
        top: 0;
      };
    }
  }

  &__main-navigation {
    width: 100%;

    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: {
        top: 38px;
      };
    }

    &-item {
      width: 100%;
      margin: {
        //left: 61px;
      };
    }

    &-link {
      color: white;
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__login {
    margin: {
      top: 19px;
    };

    &-button {
      color: white;
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__buy-now {

    &-button {
      color: white;
      font-size: 16px;
      line-height: 21px;
    }
  }
}

//First section
.some-section {
  padding: {
    top: 40px;
    bottom: 20px;
  };

  &__title {
    text-align: center;
  }

  &__item {
    margin: {
      top: 15px;
    };
  }
}

.some-item {

  &__inner {
    background: #FAFAFA;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    min-height: 325px;
    flex-direction: column;
    padding: {
      top: 40px;
      bottom: 30px;
      left: 15px;
      right: 15px;
    };
  }

  &__image {
    display: block;
    margin: {
      left: auto;
      right: auto;
    };

    &-wrapper {
      height: 64px;
    }
  }

  &__title {
    text-align: center;
    margin: {
      top: 25px;
    };
  }

  &__description {
    margin: {
      top: 11px;
    };
  }

  &__link {
    color: $blue;
    text-align: center;
    display: block;
    margin: {
      top: auto;
    };
  }
}

//Second section
.another-section {
  padding: {
    top: 22px;
    bottom: 20px;
  };

  &__title {
    text-align: center;
  }

  &__item {
    margin: {
      top: 15px;
    };
  }

  &__button {
    margin: {
      top: 35px;
      left: auto;
      right: auto;
    };
  }
}

.another-item {

  &__inner {
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: {
      top: 40px;
      bottom: 30px;
      left: 15px;
      right: 15px;
    };
  }

  &__image {
    display: block;
    margin: {
      left: auto;
      right: auto;
    };
  }

  &__title {
    text-align: center;
    margin: {
      top: 25px;
    };
  }

  &__description {
    text-align: center;
  }
}

.another-button {
  background: #FFFFFF;
  display: block;
  border: 1px solid $green;
  box-sizing: border-box;
  border-radius: 4px;
  padding: {
    top: 18px;
    bottom: 19px;
    left: 50px;
    right: 50px;
  };
}

//Partners section
.partners {
  padding: {
    top: 20px;
    bottom: 60px;
  };

  &__title{
    text-align: center;
  }

  &__item {
    margin: {
      top: 15px;
    };
  }
}

.partner {
  display: flex;
  height: 100px;
  align-items: center;

  &__logo {
    display: block;
    margin: {
      left: auto;
      right: auto;
    };
  }
}

//Footer part
.footer {
  margin-top: auto;
  background: $bg;
  padding: {
    top: 40px;
    bottom: 53px;
  };

  &__navigation {
    display: flex;
    justify-content: space-between;

    &-link {
      color: white;
    }
  }

  &__social {
    margin: {
      top: 25px;
    };
  }

  &__copyrights {
    color: white;
    text-align: center;
    margin: {
      top: 35px;
    };
  }
}

.social {
  display: flex;
  justify-content: center;

  &__item {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: {
      left: 17px;
      right: 17px;
    };
  }

  &__link {
    display: flex;
    justify-content: center;
    padding: {
      top: 9px;
    };
  }
}

.icon-facebook,
.icon-instagram,
.icon-twitter {
  fill: white;
  max-width: 32px;
  max-height: 32px;
}

.icon-arrow {
  width: 14px;
  height: 12px;
  fill: white;
  margin: {
    bottom: -2px;
  };
}

