@media (min-width: 1200px) {
  .header {
    padding: {
      bottom: 100px;
    };

    &__title {
      margin: {
        top: 83px;
      };
    }

    &__description {
      width: 880px;
      margin: {
        top: 80px;
      };
    }
  }

  .top-menu {
    &__main-navigation {
      &-item {
        margin: {
          left: 61px;
        };
      }
    }
  }

  .some-section {
    padding: {
      top: 80px;
      bottom: 40px;
    };

    &__item {
      margin: {
        top: 32px;
      };
    }
  }

  .another-section {
    padding: {
      top: 40px;
      bottom: 40px;
    };
  }

  .partners {
    padding: {
      top: 40px;
      bottom: 115px;
    };

    &__description {
      margin: {
        bottom: 0;
      };
    }

    &__items {
      width: 70%;
    }

    &__item {
      margin: {
        top: 20px;
      };
    }
  }
}
